* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: blue;
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 300px;
    padding-left: 20px;
    padding-top: 20px;
}

.dashboard {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 35px;
}

.top {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
}

.bot {
    grid-area: 2 / 2 / 2 / 3;
    background-color: grey;
}

.sidebar svg {
    max-width: 50px;
    max-height: 50px;
    fill    : white;
}

.sidebar > ul {
    list-style-type: none;
}

.sidebar > ul > li {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
